.intro{
	background-image: url('https://static.pexels.com/photos/506889/pexels-photo-506889.jpeg');
	background-size: cover;
	height: 30vh;
	background-position: center;
}
.tittle_service{
	padding-top: 7%;
	margin: 0;
	color:white;
	font-size: 45px;
}
.intro hr{
	height: 2px;
   border: 0;
   background-color: white;
}